body {
    direction: rtl;
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    height: 60px;
    width: 150px;
    border: 1px solid white;
}

.paint {
    background-color: yellow;
}